.checkBox {
  width: 1vw;
}

.text {
  width: 13vw;
  margin: 0 1vw;
  word-wrap: break-word;
  font-size: large;
  cursor: pointer;
}

.todo > .checkBox {
  background-color: lightblue;
}

.done > .checkBox {
  background-color: mediumseagreen;
}

.done > .text {
  text-decoration: line-through;
}

.doing > .checkBox {
  background-color: orange;
}

.cross {
  color: grey;
  font-weight: 600;
  font-size: large;
  display: none;
}

.taskBox:hover .cross {
  cursor: pointer;
  display: block;
}

.taskBox {
  display: flex;
  margin-bottom: 3vh;
}

.titleText {
  width: 16vw;
  font-size: x-large;
  font-weight: 700;
}

.container {
  margin: 10vh 15vh;
  display: flex;
  justify-content: space-evenly;
}

input {
  height: 3vh;
  width: 17vw;
  font-size: large;
  margin-bottom: 2vh;
}
