.checkBox {
  width: 1vw;
  height: 4vh;
}

.text {
  width: 13vw;
  margin: 0 1vw;
  word-wrap: break-word;
  font-size: large;
}

.todo > .checkBox {
  background-color: lightblue;
}

.done > .checkBox {
  background-color: mediumseagreen;
}

.done > .text {
  text-decoration: line-through;
}

.doing > .checkBox {
  background-color: orange;
}

.cross {
  color: grey;
  font-weight: 600;
}

.flex {
  display: flex;
  margin: 0vh 2vw 2vh 0vh;
  justify-content: space-between;
}

.container {
  margin: 10vh 15vh;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

input {
  height: 3vh;
  width: 17vw;
  margin: 3vh 0 1vh 0;
  font-size: large;
}
