.checkBox {
  width: 1vw;
  margin-right: 0.5vw;
}

.todo > .checkBox {
  background-color: lightblue;
}

.done > .checkBox {
  background-color: mediumseagreen;
}

.done > .text {
  text-decoration: line-through;
}

.doing > .checkBox {
  background-color: orange;
}

.flex {
  display: flex;
  margin: 0vh 2vw 2vh 0vh;
  cursor: pointer;
}

.container {
  width: 20%;
  margin: 10vh 15vh;
}
